<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz_Pro | Player Profile</title>
    <!-- icon -->
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename = '/images/favicon.ico') }}">

    <!-- css -->
    <link rel="stylesheet" href="{{ url_for('static', filename = 'style/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'style/profile.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'style/table.css') }}">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">

    <!-- script -->
     <script src="{{ url_for('static', filename = 'js/logout.js') }}"></script>
</head>
<body>
    <!-- Navbar of the page -->
    <nav>
        <div class="nav-container">
            <a href="{{ url_for('home') }}">
                <img src="{{ url_for('static' , filename = 'images/Qp_logo-1.png') }}" alt="quip_pro_logo">
                <h3>Quiz_Pro</h3>
            </a>
        </div>

        <div class="profile profile-dropdown">
            <button  onclick="triggerProfile()" class="dropdownBtn">
                <i class="uil uil-user"></i>
            </button>
            <div class="profie-content" id="profileDropdown">
                <a href="/logout/{{user}}">Logout</a>
            </div>
        </div>

        
    </nav>
    <!-- Navbar of the page -->

    <!-- Main block -->
    <div class="container">
        <div class="content">
            <!--<h5>Hello Playername</h5> -->
            <div class="quiz-container">
                <div class="quiz-content">
                    <div class="quiz_addition_info">
                        <h4>Hello {{ user }},</h4>
                        <h5>Welcome to your space, {{ user }}! Let’s make amazing things happen today.</h5>
                    </div>
                </div>
             </div>
            <!-- table to display every quiz that were played by the player -->
            <div class="quiz-container">
                <div class="display-quizzes-content">
                    <h3>Quizzes you have played</h3>
                    <div class="quizzes-container">
                        <div class="quizzes-content">
                            <!-- here the conducted quiz info will be displayed -->
                             
                             <table class="styled-table">
                                <thead>
                                    <tr>
                                        <th>S.no.</th>
                                        <th>Question Category name</th>
                                        <th>Your Score</th>
                                    </tr>
                                </thead>
                                {% for data in qp_data %}
                                <!--<p>{{ data }}</p>-->
                                <tbody>
                                    <tr>
                                        <td>{{ loop.index }}</td>
                                        <td>{{ data['Q_catagory_name'] }}</td>
                                        <td>{{ data['Score'] }}</td>
                                    </tr>
                                    <!-- and so on... -->
                                </tbody>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                    
                    <h3>Quizzes you can play</h3>
                    <div class="quizzes-container">
                        <div class="quizzes-content">
                            <!-- here the conducted quiz info will be displayed -->
                             
                             <table class="styled-table">
                                <thead>
                                    <tr>
                                        <th>Question Category ID</th>
                                        <th>Question Category name</th>
                                        <th>No. of players</th>
                                        <th>Click to play</th>
                                    </tr>
                                </thead>
                                {% for data in qc_data %}
                                <!--<p>{{ data }}</p>-->
                                <tbody>
                                    <tr>
                                        <td>{{ data['QId'] }}</td>
                                        <td>{{ data['Q_catagory_name'] }}</td>
                                        <td>{{ data['No_of_players'] }}</td>
                                        <td><a href="/{{ user }}/play_quiz/{{ data['QId'] }}">Click here</a></td>
                                    </tr>
                                    <!-- and so on... -->
                                </tbody>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End of main block -->

    <!-- Footer -->
    <div class="footer-container">
        <div class="footer-content">
            <h5>Contact: <small><a href="mailto:2k19cse045@kiot.ac.in">Click here to email</a></small></h5>
        </div>
    </div>
    <!-- Footer -->
    <script src="./js/logout.js"></script>
</body>
</html>